<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">

		<title>COMPxxx Session xx</title>

		<meta name="description" content="A framework for easily creating beautiful presentations using HTML">
		<meta name="author" content="Hakim El Hattab">

		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

		<link rel="stylesheet" href="../../reveal.js/css/reveal.css">
		<link rel="stylesheet" href="../../reveal.js/css/theme/black.css">
		
		<!-- Code syntax highlighting -->
		<link rel="stylesheet" href="../../reveal.js/lib/css/zenburn.css">
		
		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? '../../reveal.js/css/print/pdf.css' : '../../reveal.js/css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>
	<body>
		<div class="reveal">
			<div class="slides">
				<section>
					<h1>Title of session</h1>
					<h2>COMPxxx Title of Module</h2>
				</section>
				
				<section>
					<h2>Outline</h2>
					<ul>
						<li><b>Recall</b> a thing</li>
						<li><b>Explain</b> a thing</li>
						<li><b>Use</b> a thing</li>
					</ul>
				</section>
				
				<section>
					<h2>Slide title</h2>
					<ul>
						<li class="fragment">Bullet 1</li>
						<li class="fragment">Bullet 2</li>
						<li class="fragment">Bullet 3</li>
					</ul>
				</section>
				
				<section>
					<h2>Code sample</h2>
					<pre><code class="hljs" data-trim>
						def factorial(n):
						    if n <= 1:
						        return 1
						    else:
						        return n * fib(n-1)
					</code></pre>
				</section>

				<section>
					<h2>MathJax</h2>
					<p>The solutions of $ax^2 + bx + c = 0$ are given by</p>
					<p>$$ x = \frac{-b \pm \sqrt{b^2 - 4ac}}{2a} $$</p>
				</section>
			</div>
		</div>
		<script src="../../reveal.js/lib/js/head.min.js"></script>
		<script src="../../reveal.js/js/reveal.js"></script>
		<script>
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,
				transition: 'none',
				dependencies: [
					// Cross-browser shim that fully implements classList - https://github.com/eligrey/classList.js/
					{ src: '../../reveal.js/lib/js/classList.js', condition: function() { return !document.body.classList; } },

					// Interpret Markdown in <section> elements
					{ src: '../../reveal.js/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: '../../reveal.js/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },

					// Syntax highlight for <code> elements
					{ src: '../../reveal.js/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },

					// Zoom in and out with Alt+click
					{ src: '../../reveal.js/plugin/zoom-js/zoom.js', async: true },

					// Speaker notes
					{ src: '../../reveal.js/plugin/notes/notes.js', async: true },

					// MathJax
					{ src: '../../reveal.js/plugin/math/math.js', async: true }
				]
			});
		</script>
	</body>
</html>
